body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh; /* Set height to 100% of viewport height */
  background-image: url("./assets/background.svg");
  background-size: 100%; /* Cover the entire width and half of the height */
  background-position: top left; /* Position the background at the top */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  /* Other CSS styles */
  font-family: "Work Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-div {
  display: flex;
  flex-direction: column;

  width: 500px; /* Set the width of the centered div to 500 pixels */

  background-color: white; /* Example background color */
  border-radius: 20px;
  /* Add other styling as needed */
}


.titleFaq {
  font-weight: 900;
  font-size: 40px;
  margin:0px;
  
}
.star {
  height: 40px;
  width: 40px;
}

.faqTitle {
  display: flex;
  align-items:center;
  gap: 10px;
  margin: 15px;
  
}
.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: hsl(292, 42%, 14%);
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.questionTitle {
  color: hsl(292, 42%, 14%);
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.answer {
  display: none;
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight:300;
  color: hsl(292, 16%, 49%);
  font-family: "Work Sans", sans-serif;
}
.question:hover {
  color: hsl(292, 16%, 49%); /* Light pink color */
}
